@tailwind base;
@tailwind components;
@tailwind utilities;
/* Setting clamp for each heading tag */
h1 {
  font-size: clamp(2rem, 5vw + 1rem, 3rem);
  font-weight: bolder;
}

h2 {
  font-size: clamp(1.5rem, 2vw + 0.5rem, 2.5rem);
  font-weight: bold;
}

h3 {
  font-size: clamp(1.25rem, 2vw + 0.25rem, 2rem);
  font-weight: bold;
}

h4 {
  font-size: clamp(1.25rem, 2.5vw + 0.5rem, 1.5rem);
}

h5 {
  font-size: clamp(1.1rem, 2vw + 0.5rem, 1rem);
}

h6 {
  font-size: clamp(1rem, 1.5vw + 0.5rem, 0.75rem);
}

/* Setting clamp for paragraph tags */
p {
  font-size: clamp(0.25rem, 0.75vw + 0.5rem, 1rem);
}
span {
  font-size: clamp(0.2rem, 0.75vw + 0.5rem, 0.75rem);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "vazir", Courier, monospace;
}
body {
  background-color: #fdfafa;
}

.layout-text::before {
  content: "جهت دریافت مشاوره رایگان تماس بگیرید";
  font-size: 200%;
  animation: animate 8s infinite;
}
@keyframes animate {
  0% {
    font-size: 100%;
    opacity: 1;
  }
  25% {
    font-size: 70%;
    opacity: 1;
  }
  50% {
    font-size: 100%;
    opacity: 1;
  }
  85% {
    font-size: 70%;
    opacity: 1;
  }
  100% {
    font-size: 100%;
    opacity: 1;
  }
}

.shadow {
  text-shadow: 0px 0px 10px rgb(43, 0, 235), 0px 0px 20px rgb(43, 0, 235), 0px 0px 30px rgb(43, 0, 235),
    0px 0px 40px rgb(43, 0, 235), 0px 0px 50px rgb(43, 0, 235), 0px 0px 60px rgb(43, 0, 235), 0px 0px 70px rgb(43, 0, 235);
}
